body {
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    width: 100%;
  }

.header{
 padding-top: 20px;
background-color: #57276a;
width: 100%;
height: 75px;
color: white;
font-weight: bold;
font-size: 45px;
text-align: center;
}

.repertorio{
background-color: #b685c8;
height: 580px;
padding: 2px 0 20px 0;



}

.reper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align:center;
    justify-content: space-between;
}

.container{
align-items: center;
justify-content: space-around;
padding: 20px 45px 20px 45px;
}

.nomes{
background-color:#8f52a8;
border-radius: 30px;
border: none;
width: 245px;
height: 45px;
font-size: 25px;
text-align: center;
color: white;
border-bottom: 5px solid #3c1949;


}

.fotos{
    border-radius: 100%;
    width: 190px;
    height: 190px;
    border-bottom: 6px solid #3c1949;


}


.footer{
    background-color: #57276a;
    width: 100%;
    height: 17px;
}